@import url(https://fonts.googleapis.com/css?family=Dosis:400,600,700);
$thPrimaryColor:#d10256;
$thSecondaryColor:#50dae3;;
$thLiteColor:#f58823;
$thBackgroundColor:#eeeeee;
$whiteColor:#ffffff;
$blackColor:#000000;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color:$blackColor;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 80%;
  margin: 0px auto;
}
%arrowProp {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  float: right;
  padding: 6px;
}

@mixin arrowDirection($rotationDeg) {
  transform: $rotationDeg;
  -ms-transform: $rotationDeg;
  -webkit-transform: $rotationDeg;
}



header{
  box-shadow: 0px 1px 11px #88888840;
  .main_header {
    display: flex;
    padding: 0px;
    min-height: 50px;
      
    .main_header__logo {
      flex: 1;
    }
    #m_menu {
      display: none;
    }

    
    .main_header_logo {
      flex-basis: 20%;
    }
    
    .nav {
      flex-basis: 80%;
      display: flex;
      width: 100%;
      position: relative;
    }
    
    ul li {
      list-style: none;
      padding: 5px 5px;
      display: inline;
    }
    
    .menu {
      width: 100%;
    }
    
    .menu_one {
      width: 50%;
      padding: 6% 0% 0% 5%;
      display: inline-block;
    }
    
    .menu_two {
      width: 50%;
      text-align: right;
      float: right;
      font-size: 12px;
      margin-top: 5px;
    }
    
    .cart-box {
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
    }
    
    .cart {
      text-decoration: none;
      padding: 15px 35px 15px 56px;
      background-color: $thBackgroundColor;
      line-height: 1;
      position: relative;
      display: inline-block;
    }
    
    .cart-icon {
      display: inline-block;
      position: absolute;
      left: 16px;
      top: 9px;
      span {
        display: none;
      }
    }
    
    .m-cart-items {
      display: none;
    }
  }
} 

.left-sidebar ul {
  display: grid;
}

.footer {
  display: flex;
  background-color: $thBackgroundColor;
  .footer_copyright {
    flex: 1;
    padding: 1% 0%;
  }
}

/*form style end*/
/*form style start Login*/
.main-login-container, .main-signup-container{
  padding: 20px;
  .login-container, .signup-container {
    display: flex;
    flex-wrap: wrap;
    article {
      padding: 10px;
      flex-basis: 100%;
    }
    .login-box, .signup-box {
      flex-basis: 49%;
      padding: 10px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-self: center;
    }
    .login-box-form-section, .singup-box-form-section{
      width: 40%;
    }
    
    .login-title, .signup-title, .login-desc, .signup-desc {
      padding: 10px;
    }
  }
}


.group {
  position: relative;
  margin-bottom: 21px;
  margin-top: 12px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: none;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
  &:focus {
    outline: none;
  }
}

/* Label */

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease;
}

.call-to-action {
  .login {
    background-color: $thPrimaryColor;
    border: none;
    width: 100%;
    padding: 10px;
    color: $whiteColor;
    font-size: 18px;
  }
  margin-top: 30px;
}

/* active */

input {
  &:focus ~ label, &.used ~ label {
    top: -20px;
    transform: scale(0.75);
    left: -2px;
    /* font-size: 14px; */
    color: $thSecondaryColor;
  }
}

.bar {
  position: relative;
  display: block;
  width: 100%;
  &:before, &:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4a89dc;
    transition: all 0.2s ease;
  }
  &:before {
    left: 50%;
  }
  &:after {
    right: 50%;
  }
}

/* active */

input:focus ~ .bar {
  &:before, &:after {
    width: 50%;
  }
}

/* Highlight */

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active */

input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #4a89dc;
  }

  to {
    width: 0;
    background: transparent;
  }
}


/*form style end*/


/*home page start*/

  /*home page slider*/
.box {
  position: relative;
  margin-bottom: 20px;
  margin-top: 74px;
  background: $whiteColor;
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 41px;
    width: 60%;
    height: 80%;
    background: $whiteColor;
    border-radius: 30%;
    box-shadow: 0 10px 17px $blackColor;
    z-index: -1;
    transform: translate(-50%);
  }
}

.main-slider{
  .crousel-container {
    margin-top: 5px;
    padding-bottom: 23px;
    
  }
  .slide-container {
    position: relative;
    .mySlides {
      display: none;
      width: 100%;
    }
    .left-btn, .right-btn {
      cursor: pointer;
    }
    .slide-btn {
      width: 100%;
      position: absolute;
      bottom: 50%;
      .left-btn {
        float: left !important;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 8px;
        color: $whiteColor;
      }
      .right-btn {
        float: right !important;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 8px;
        color: $whiteColor;
      }
    }
    .slide-dots {
      position: absolute;
      left: 40%;
      .w3-border {
        border: 1px solid #ccc !important;
        height: 15px;
      }
      .w3-badge {
        border-radius: 50%;
        background-color: $thBackgroundColor;
        color: $whiteColor;
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
      }
      .w3-tag {
        background-color: $thBackgroundColor;
        color: $whiteColor;
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
      }
      .w3-white, .slide-white, .w3-hover-white:hover {
        color: $blackColor !important;
        background-color: $blackColor !important;
        cursor: pointer;
      }
    }
  }
}
/*home page slider*/
.category{
  .home-container {
    display: flex;
    justify-content: center;
    padding-bottom: 23px;
  }
  &:nth-child(even) {
  .home-container {
    flex-direction: row-reverse;
    }
  }
  .cat_img {
    flex: 35%;
    width: 100%;
    align-self: center;
    text-align: center;
  }
  .cat_info {
    flex: 65%;
    width: 100%;
    align-self: center;
    text-align: center;
  }
  .cat_decs {
    padding: 25px;
  }
  .cat_explore {
    border-style: none;
    background-color: $thPrimaryColor;
    padding: 8px;
    color: $whiteColor;
    font-weight: bold;
  }
}

/*home page end*/

/*plp page start*/

.plp-container {
  display: flex;
  position: relative;
  .plp-cat {
    flex: 20%;
  }
  
  .plp-wrapper {
    flex: 80%;
  }
  
  .plp-list-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .prod-wrapper {
    width: 25%;
    padding: 30px 4px;
    padding: 30px 4px 15px 4px;
    border-bottom: 1px dashed #eee;
  }

  .prod-title h3{
    min-height: 80px;
    
  }
  
  .plp-box {
    border-bottom: dashed 1px #c1c1c185;
    box-sizing: border-box;
    padding: 5px;
    margin-left: 15px;
  }
  
  .prod-img img {
    width: 100%;
  }
  
  .plp-cat {
    background-color: $thBackgroundColor;
  }
  
  .left-sidebar li {
    border-bottom: solid #ddd6d64f;
    padding: 10px;
    margin-left: 8px;
    list-style: none;
  }
  
  .prod-info {
    background-color: $thBackgroundColor;
    max-height: 87px;
    min-height: 87px;
    padding: 4px;
    line-height: 1.4em;
    font-size: 12px;
    -webkit-line-clamp: 5;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
  
  .price {
    position: absolute;
    left: 0;
    color: $blackColor;
    width: 50%;
    text-align: left;
  }
  
  .buy-now {
    border: none;
    background-color: $thPrimaryColor;
    padding: 8px;
    color: $whiteColor;
    font-weight: bold;
    float: right;
    text-align: center;
    display: inline-grid;
    width: 50%;
  }
  
  .prod-price-info {
    line-height: 27px;
  }

  .prod-price-container {
    padding: 10px 0px 6px 0px;
    position: relative;
  }
}





/*plp page end*/



/*cart page start*/
.cart-container{
  background-color: $thBackgroundColor;
  .cart-wrapper{
    padding-top: 10px;
    width: 80%;
    margin:0 auto;
    .cart-footer-box{
      display: flex;
      background: $whiteColor;
      padding: 10px 0px 0px 0px;
     text-align: center;
     .cart-footer{
       width: 100%;
       .cart-footer-info{
         padding-bottom: 10px;
       }
     }
    }
  }
}
.cart-product-container, .cart-prod-box {
  
  display: flex;
  background: $whiteColor;
  padding: 10px 0px;
  width: 100%;
}
.cart-total-items{
  padding: 20px;
  background: $whiteColor;
  margin: 20px 0px;
}
.cart-prod {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.cart-adds
{
  margin: 20px 0px;
  background: $whiteColor;
  padding: 10px;
}

.cart-prod-info {
  display: flex;
  flex-direction: column;
  flex-basis: 85%;
  padding: 0px 10px;
}

.cart-prod-img {
  flex-basis: 15%;
}

.cart-prod-title {
  flex-basis: 50%;
}

.cart-adds-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-adds-img {
  flex-basis: 20%;
}

.cart-adds-title {
  flex-basis: 75%;
}

.cart-prod-qnty {
  padding: 8px 15px;
  font-weight: 700;
}

.cart-prod-btn {
  background-color: $thPrimaryColor;
  border: none;
  color: $whiteColor;
  padding: 5px 14px;
  border-radius: 6px;
}

.prod-multiply {
  padding: 0px 10px;
}

.prod-price {
  font-size: 16px;
  padding: 0px 10px;
}

.cart-prod-total {
  padding-right: 10px;
}

.cart-footer-action {
  background-color: $thPrimaryColor;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    
    border: none;
    color: $whiteColor;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    
    .cart-text{
      flex-basis: 80%;
      text-align: left;
    }
    .cart-amt{
      flex-basis: 19%;
      text-align:right;
    }
}
.arrow {
  @extend %arrowProp;
}

.right {
  @include arrowDirection(rotate(-50deg));
}

/*cart page end*/
/*Media query start*/
@media only screen and (max-width: 1024px) {
  .buy-now {
    width: auto;
  }
  box:after {
    height: 75%;
  }
  .logo {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .main_header {
    padding: 5px 0px;
    .m-cart-items{
      display: block;
    }
  }
  .cart-icon {
    display: inline-block;
  }
  box:after {
    height: 75%;
  }
  .wrapper {
    width: 100%;
  }
  .prod-wrapper {
    flex: 0 49%;
    display: flex;
    flex-wrap: wrap;
    
    .prod-title {
      flex: 100%;
      margin-bottom: 30px;
    }
    .prod-img, .prod-info {
      flex: 50%;
      min-height: unset;
      max-height: unset;
    }
    .prod-price-container {
      flex: 100%;
    }
    
    .buy-now {
      width: 100%;
      display: inline-block;
    }
    .price {
      position: relative;
      color: $whiteColor;
      &:before {
        content: ' @ ';
      }
    }
    .footer_copyright {
      flex: 1;
      font-size: 12px;
      text-align: center;
      padding: 5px;
    }
  }
  // .prod-border {
  //   display: flex;
  //   flex-wrap: wrap;
  // }
  
}

@media only screen and (max-width: 768px) {
  .cart-container{
    .cart-wrapper{
      width: 100%;
    }
  }
    
  header{
    .main_header {
      padding: 0px 0px;
      .nav{
        .menu {
          position: absolute;
          top: 50px;
          width: 0%;
          z-index: 99;
          background: #000;
          text-align: -webkit-center;
          padding-bottom: 18px;
          display: none;
          
          .menu_one {
            width: 50%;
            padding: 6% 0% 0% 0%;
            display: block;
          }
          .menu_two {
            width: 50%;
            text-align: unset;
            float: none;
            font-size: inherit;
            margin-top: 5px;
          }
        }
        
        .menu ul li {
          display: block;
          a {
            color: $whiteColor;
          }
        }
        .cart-box {
          bottom: 0;
          display: block;
          height: 100%;
          position: absolute;
          right: 44px;
          .cart {
            padding: 20px 35px 20px 56px;
            height: 100%;
          }
          .cart-items {
            display: none;
          }
          .cart-icon {
            top: 16px;
          }
          .m-cart-items {
            display: inline-block;
            position: absolute;
            top: -9px;
            right: 0;
            background-color: $thSecondaryColor;
            color: $whiteColor;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            text-align: center;
            padding: 4px;
          }
        }
        #m_menu {
          color: $thPrimaryColor !important;
          font-size: 18px !important;
          font-weight: normal !important;
          position: absolute !important;
          right: 20px !important;
          left: unset !important;
          top: 15px !important;
          display: block;
        }
      }
    }
  }
  
  .box:after {
    height: 73%;
    box-shadow: 0 6px 17px #000000d9;
  }
  .plp-cat {
    margin-top: 18px;
  }
  .plp-container {
    display: block;
  }
  .left-sidebar ul {
    li {
      display: none;
    }
    .active {
      display: block;
      background-color: $thPrimaryColor;
      color: $whiteColor;
      margin-left: 0;
    }
  }
  p.left-sidebar ul .active:after {
    content: " - Remember this";
  }
  .active i {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px;
    float: right;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .prod-wrapper {
    flex: 0 100%;
    display: block;
    width: 100%;
  }
  .prod-img {
    width: 50%;
    float: left;
  }
  .prod-info {
    float: left;
    width: 50%;
    padding: 10px;
    font-size: 18px;
    height: 67%;
  }
  .prod-price-container {
    display: block;
    width: 50%;
    float: left;
    //margin-top: 10px;
  }
  .prod-title {
    margin-bottom: 30px;
  }
  .buy-now {
    width: 100%;
    padding: 13px;
  }
  .price {
    position: relative;
    color: $whiteColor;
    &:before {
      content: ' @ ';
    }
  }
  .login-box, .signup-box {
    flex-basis: 80%;
    padding-left: 0px;
  }
  .login-box-form-section, .singup-box-form-section{
    flex-basis: 80%;
  }
  
}

@media only screen and (max-width: 576px) {
  .prod-info {
    height: 58%;
  }
}

@media only screen and (max-width: 425px) {
  .box {
    min-height: 150px;
    &:after {
      box-shadow: 0 1px 17px #000000d9;
    }
  }
  .footer_copyright {
    flex: 1;
    font-size: 12px;
    text-align: center;
    padding: 5px;
  }
  .prod-info {
    font-size: 15px;
    height: 50%;
  }
  .buy-now {
    padding: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .prod-info {
    font-size: 12px;
    height: 48%;
  }
  .buy-now {
    padding: 8px;
  }
}

@media only screen and (max-width: 320px) {
  .prod-info {
    font-size: 12px;
    height: 40%;
  }
  .buy-now {
    padding: 8px;
  }
}

/*Media query end*/