@import url(https://fonts.googleapis.com/css?family=Dosis:400,600,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

  
body {
  font-family: 'Dosis', sans-serif;
  font-size: 14px; }

header {
  box-shadow: 0px 1px 11px #88888840; }

.wrapper {
  width: 80%;
  margin: 0px auto; }

.main_header {
  display: flex;
  padding: 5px; }

.main_header__logo {
  flex: 1; }

.main_header__menu {
  flex: 2;
  align-self: flex-end;
  padding: 0px 0px 2% 0px;
  text-decoration: none; }

#m_menu {
  display: none; }

a {
  text-decoration: none;
  color: #000000; }

.right_menu_part {
  display: flex;
  flex-direction: column;
  height: 100%; }

.up-section {
  flex: 1;
  align-self: flex-end; }

.down-section {
  flex: 1;
  display: inline-flex;
  align-items: center;
  background-color: #eeeeee;
  padding: 9px 0px 0px 20px;
  margin-bottom: -5px;
  align-self: flex-end;
  padding: 9px 20px 0px 20px; }

.up-section__menu {
  list-style: none;
  display: inline-flex; }

.up-section__menu li {
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #d00256; }

.left-sidebar ul {
  display: grid; }

.footer {
  display: flex;
  background-color: #eeeeee; }

.footer_copyright {
  flex: 1;
  padding: 1% 0%; }

/*form style start header*/
.main_header {
  display: flex;
  padding: 0px;
  min-height: 50px; }

img {
  width: 100%; }

.main_header_logo {
  flex-basis: 20%; }

.nav {
  flex-basis: 80%;
  display: flex;
  width: 100%;
  position: relative; }

ul li {
  list-style: none;
  padding: 5px 5px;
  display: inline; }

.menu {
  width: 100%; }

.menu_one {
  width: 50%;
  padding: 6% 0% 0% 5%;
  display: inline-block; }

.menu_two {
  width: 50%;
  text-align: right;
  float: right;
  font-size: 12px;
  margin-top: 5px; }

.cart-box {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block; }

.cart {
  text-decoration: none;
  padding: 15px 35px 15px 56px;
  background-color: #eee;
  line-height: 1;
  position: relative;
  display: inline-block; }

.cart-icon {
  display: inline-block;
  position: absolute;
  left: 16px;
  top: 9px; }
  .cart-icon span {
    display: none; }

.m-cart-items {
  display: none; }

/*form style end*/
/*form style start Login*/
.login-container, .signup-container {
  display: flex;
  flex-wrap: wrap; }

article {
  padding: 10px;
  flex-basis: 100%; }

.login-box, .signup-box {
  flex-basis: 49%;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-self: center; }

.login-box-form-section, .signup-box-form-section {
  width: 40%; }

.login-title, .signup-title {
  padding: 10px; }

.login-desc, .signup-desc {
  padding: 10px; }

.group {
  position: relative;
  margin-bottom: 21px;
  margin-top: 12px; }

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  background: none;
  color: #636363;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575; }

input:focus {
  outline: none; }

/* Label */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease; }

.call-to-action .login {
  background-color: #d10157;
  border: none;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 18px; }

.call-to-action {
  margin-top: 30px; }

/* active */
input:focus ~ label, input.used ~ label {
  top: -20px;
  transform: scale(0.75);
  left: -2px;
  /* font-size: 14px; */
  color: #4a89dc; }

.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #4a89dc;
  transition: all 0.2s ease; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

/* Highlight */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active */
input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease; }

@keyframes inputHighlighter {
  from {
    background: #4a89dc; }
  to {
    width: 0;
    background: transparent; } }

/*form style end*/
/*home page start*/
.box {
  position: relative;
  margin-bottom: 20px;
  margin-top: 74px;
  background: #ffffff; }

.box:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 41px;
  width: 60%;
  height: 83%;
  background: #ffffff;
  border-radius: 30%;
  box-shadow: 0 10px 17px #000000d9;
  z-index: -1;
  transform: translate(-50%); }

.cat_decs {
  padding: 25px; }

.crousel-container {
  margin-top: 5px;
  padding-bottom: 23px; }

/*w3 sc*/
.slide-container {
  position: relative; }

.mySlides {
  display: none;
  width: 100%; }

.left-btn, .right-btn, .slide-badge {
  cursor: pointer; }

.slide-badge {
  height: 13px;
  width: 13px;
  padding: 0; }

.left-btn {
  float: left !important;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  color: #fff; }

.right-btn {
  float: right !important;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  color: #fff; }

.slide-dots {
  position: absolute;
  left: 40%; }

.slide-btn {
  width: 100%;
  position: absolute;
  bottom: 50%; }

.w3-border {
  border: 1px solid #ccc !important;
  height: 15px; }

.w3-badge {
  border-radius: 50%; }

.w3-badge, .w3-tag {
  background-color: #eee;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center; }

.w3-white, .slide-white, .w3-hover-white:hover {
  color: #000 !important;
  background-color: #000 !important; }

.home-container {
  display: flex;
  justify-content: center;
  padding-bottom: 23px; }

.category:nth-child(even) .home-container {
  flex-direction: row-reverse; }

.cat_img {
  flex: 35%;
  width: 100%;
  align-self: center;
  text-align: center; }

.cat_info {
  flex: 65%;
  width: 100%;
  align-self: center;
  text-align: center; }

.cat_explore {
  border-style: none;
  background-color: #d00256e6;
  padding: 8px;
  color: #fff;
  font-weight: bold; }

/*home page end*/
/*plp page start*/
.plp-container {
  display: flex;
  position: relative; }

.plp-cat {
  flex: 20%; }

.plp-wrapper {
  flex: 80%; }

.plp-list-row {
  display: flex;
  flex-wrap: wrap; }

.prod-wrapper {
  width: 25%;
  padding: 30px 4px;
  padding: 30px 4px 15px 4px;
  border-bottom: 1px dashed #eee; }

.plp-box {
  border-bottom: dashed 1px #c1c1c185;
  box-sizing: border-box;
  padding: 5px;
  margin-left: 15px; }

.prod-img img {
  width: 100%; }

.plp-cat {
  background-color: #eeeeee; }

.left-sidebar li {
  border-bottom: solid #ddd6d64f;
  padding: 10px;
  margin-left: 8px;
  list-style: none; }

.prod-info {
  background-color: #eeeeee;
  min-height: 70px;
  padding: 4px;
  font-size: 12px; }

.price {
  position: absolute;
  left: 0;
  color: #000000;
  width: 50%;
  text-align: left; }

.buy-now {
  border: none;
  background-color: #d00256;
  padding: 8px;
  color: #ffffff;
  font-weight: bold;
  float: right;
  text-align: center;
  display: inline-grid;
  width: 50%; }

.prod-price-info {
  line-height: 27px; }

h1 {
  font-size: 26px; }

.prod-price-container {
  padding: 10px 0px 6px 0px;
  position: relative; }

/*plp page end*/
/*cart page start*/
.cart-product-container {
  display: flex; }

.cart-prod-box {
  display: flex; }

.cart-prod {
  display: flex;
  justify-content: space-between;
  font-size: 16px; }

.cart-prod-info {
  display: flex;
  flex-direction: column;
  width: 100%; }

.cart-prod-img {
  flex-basis: 25%; }

.cart-prod-title {
  flex-basis: 50%; }

.cart-adds-info {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.cart-adds-img {
  flex-basis: 20%; }

.cart-adds-title {
  flex-basis: 75%; }

.cart-prod-qnty {
  padding: 8px 15px;
  font-weight: 700; }

.cart-prod-btn {
  background-color: #d00255;
  border: none;
  color: #fff;
  padding: 5px 14px;
  border-radius: 6px; }

.prod-multiply {
  padding: 0px 10px; }

.prod-price {
  font-size: 16px;
  padding: 0px 10px; }

.cart-prod-total {
  padding-right: 10px; }

.cart-footer-action {
  position: relative;
  background-color: #d00255;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: none;
  color: #fff;
  font-weight: 700; }

.cart-text {
  position: absolute;
  top: 25%; }

.cart-amt {
  float: right;
  position: absolute;
  text-align: right;
  top: 25%;
  width: 50%;
  right: 2%;
  color: #fff;
  font-weight: 700; }

.cart-footer-info p {
  text-align: center;
  padding: 10px; }

i .arrow {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  float: right;
  padding: 6px;
  
}

.right {
  transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg); }

/*cart page end*/
/*Media query start*/
@media only screen and (max-width: 1024px) {
  .buy-now {
    width: auto; }
  box:after {
    height: 78%; }
  .logo {
    height: 100%;
    width: 100%; } }

@media only screen and (max-width: 991px) {
  .main_header {
    padding: 5px 0px; }
  .cart-icon {
    display: inline-block; }
  box:after {
    height: 79%; }
  .wrapper {
    width: 100%; }
  .prod-wrapper {
    flex: 0 49%;
    display: flex;
    flex-wrap: wrap; }
  .prod-border {
    display: flex;
    flex-wrap: wrap; }
  .prod-titile {
    flex: 100%; }
  .prod-img {
    flex: 50%; }
  .prod-info {
    flex: 50%; }
  .prod-price-container {
    flex: 100%; }
  .prod-title {
    margin-bottom: 30px; }
  .buy-now {
    width: 100%;
    display: inline-block; }
  .price {
    position: relative;
    color: #fff; }
  .price:before {
    content: ' @ '; }
  .footer_copyright {
    flex: 1;
    font-size: 12px;
    text-align: center;
    padding: 5px; } }

@media only screen and (max-width: 768px) {
  .main_header {
    padding: 0px 0px; }
  .menu {
    position: absolute;
    top: 50px;
    width: 0%;
    right: 0;
    z-index: 99;
    background: #000;
    text-align: -webkit-center;
    padding-bottom: 18px;
    transition: 0.5s; }
  .menu_one {
    width: 50%;
    padding: 6% 0% 0% 0%;
    display: block; }
  .menu_two {
    width: 50%;
    text-align: unset;
    float: none;
    font-size: inherit;
    margin-top: 5px; }
  #m_menu {
    display: block; }
  .cart-box {
    bottom: 0;
    display: block;
    height: 100%;
    position: absolute;
    right: 44px; }
  .menu ul li {
    display: block; }
  .menu ul li a {
    color: #fff; }
  .cart {
    padding: 20px 35px 20px 56px;
    height: 100%; }
  .cart-items {
    display: none; }
  .cart-icon {
    top: 16px; }
  .m-cart-items {
    display: inline-block;
    position: absolute;
    top: -9px;
    right: 0;
    background-color: #50dae2;
    color: #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    padding: 4px; }
  #m_menu {
    color: #d00155 !important;
    font-size: 18px !important;
    font-weight: normal !important;
    position: absolute !important;
    right: 20px !important;
    left: unset !important;
    top: 15px !important; }
  .box:after {
    height: 73%;
    box-shadow: 0 6px 17px #000000d9; }
  .plp-cat {
    margin-top: 18px; }
  .plp-container {
    display: block; }
  .left-sidebar ul li {
    display: none; }
  .left-sidebar ul .active {
    display: block;
    background-color: #d00255;
    color: #fff;
    margin-left: 0; }
  p.left-sidebar ul .active:after {
    content: " - Remember this"; }
  .active i {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px;
    float: right;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
  .prod-wrapper {
    flex: 0 100%;
    display: block;
    width: 100%; }
  .prod-img {
    width: 50%;
    float: left; }
  .prod-info {
    float: left;
    width: 50%;
    padding: 10px;
    font-size: 18px;
    height: 67%; }
  .prod-price-container {
    display: block;
    width: 50%;
    float: left;
    margin-top: 10px; }
  .prod-title {
    margin-bottom: 30px; }
  .buy-now {
    width: 100%;
    padding: 13px; }
  .price {
    position: relative;
    color: #fff; }
  .price:before {
    content: ' @ '; }
  .login-box, .signup-box {
    flex-basis: 80%;
    padding-left: 0px; }
  .login-box-form-section, .signup-box-form-section {
    flex-basis: 80%; } }

@media only screen and (max-width: 576px) {
  .prod-info {
    height: 58%; } }

@media only screen and (max-width: 425px) {
  .box {
    min-height: 150px; }
  .box:after {
    box-shadow: 0 1px 17px #000000d9; }
  .footer_copyright {
    flex: 1;
    font-size: 12px;
    text-align: center;
    padding: 5px; }
  .prod-info {
    font-size: 15px;
    height: 50%; }
  .buy-now {
    padding: 10px; } }

@media only screen and (max-width: 375px) {
  .prod-info {
    font-size: 12px;
    height: 48%; }
  .buy-now {
    padding: 8px; } }

@media only screen and (max-width: 320px) {
  .prod-info {
    font-size: 12px;
    height: 40%; }
  .buy-now {
    padding: 8px; } }

/*Media query end*/

