@import url(https://fonts.googleapis.com/css?family=Dosis:400,600,700);
$thPrimaryColor:#d10256;
$thSecondaryColor:#50dae3;;
$thLiteColor:#f58823;
$thBackgroundColor:#eeeeee;
$whiteColor:#ffffff;
$blackColor:#000000;

html{
  font-size: 2rem;
}

body {
    font-size: 0.5em;
    margin: 0px;
    padding: 0px;
} 

a {
  text-decoration: none;
 
    main__#{&}{
      @at-root {
      .header__ #{ & } {
        color:blue;
      }
    }
    

  }
  /*menu & {
    main__#{&}{
      .header__#{&}{
        color: $whiteColor;
       }
     }
  }*/
}

img {
  max-width: 100%;
}

ul{
  margin: 0;
  
  li{
      list-style: none;
      padding: 5px 5px;
  }
}

.header{
  display: flex;
  &__logo{
    flex-basis: 30%;
  }
  &__main{
    flex-basis: 70%;
    &__menu{
      padding: 20px;
      background-color: $blackColor;
    }
  }
}