<script id="entry-template" type="text/x-handlebars-template">
  <div class="entry">
    <h1>HI</h1>
    <div class="body">
      Testing
    </div>
  </div>
</script>
<script>
    var source   = document.getElementById("entry-template").innerHTML;
    var template = Handlebars.compile(source);
</script>