<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="css/style_header.css" rel="stylesheet" >
</head>
<body>
    <header>
        <div class="header wrapper">
            <div class="header__logo">
                <img src="/static/images/logo.png   " /> 
            </div>
            <div class="header__main">
                <nav class="header__main__menu">
                    <ul class="menu--one">
                        <li><a href="">Home</a></li>
                        <li><a href="">Products</a></li>
                    </ul>
                    <ul class="menu--two">
                        <li><a href="">SignIn</a></li>
                        <li><a href="">Register</a></li>
                    </ul>
                </nav>
                <a class="header__main__cart header--cart">
                    <!-- <img src="/static/images/cart.svg" /> -->
                    <span class="cart--qty" id="cart_qty">0</span>
                    <span class="cart__items">items</span>
                </a>
                <div>
                  m
                </div>
            </div>
        </div>
    </header>
</body>
</html>