
    
    <div class="wrapper">
        <div class="main-login-container">
            <article class="">
              <div class="form-info-container">
                  <div class="form-box">
                      
                        <div class="form-title">
                          <h1>Login</h1>
                        </div>
                        <div class="form-desc">
                          <p>Get access to your Orders, Wishlist and Recommendation</p>
                        </div>
                       
                  </div> 
                  
                  <div class="box-form-section">
                     
                      <form action="#" method="post" autocomplete="off">
                      <div class="group">
                          <input type="email" id="email" required="required" name="email" placeholder="" />
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label for="email">Email</label>
                      </div>
                      <div class="group">
                        <input type="password" id="password" required="required" name="password" placeholder="" />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label for="password" >Password</label>
                      </div>
                          <div class="call-to-action">
                              <input type="submit" class="login" name="login" value="Login" />
                            </div>
                      </form>
                      
                  </div>
                </div>
            </article>
        </div>
      </div>
      


    